{% load static %}




<div class="row clearfix">
    <div class="leftgridtab" style="overflow-x:auto">
        <table width="96%" border="0" cellspacing="0" cellpadding="0">
            <tbody >
              <tr >
                <td style="padding:18px; border-radius:10px 0 0 0;"  width="66%" class="downxj">
                    <span class="c7">LIST OF STUDENTS</span> -
                     <div id="ctl00_ContentPlaceHolder1_UpdatePanel2">

            <span id="ctl00_ContentPlaceHolder1_Label1" class="c7">{{left}}</span>
            
</div>
                </td>

             
                <!-- <td width="27%" align="center"  class="c10"> -->
                <!-- <input type="image" name="ctl00$ContentPlaceHolder1$ImageButton4" id="ctl00_ContentPlaceHolder1_ImageButton4" src="{% static 'image/downexcel.png' %}" style="height:24px;width:24px;border-width:0px;" /></td> -->
                <td> 
                <form method="POST">
                    {% csrf_token %}
                <input type="file" name="file">
                <button type="submit">Upload</button>   
                </form>   

                <a href='http://localhost:8000/download/'>Download csv</a>
                        
                </td>
              </tr>
            <tr>
                <td colspan="3">
                 
                    <div style="margin-left:17px; margin-right:0px;  overflow-y: scroll !important;
height: 500px !important;">

                    <div id="ctl00_ContentPlaceHolder1_u0">

                    <div id="ctl00_ContentPlaceHolder1_pnl" class="pnl table-responsive">

                        <div>
<table class="lfont footable grid" cellspacing="0" rules="all" border="1" id="ctl00_ContentPlaceHolder1_GridView1" style="border-collapse:collapse;">
<thead>
<tr class="gh">
    <th data-hide="phone" scope="col">Sno</th>
    <th data-class="expand" scope="col">First Name</th>
    <th data-class="expand" scope="col">Middle Name</th>
    <th data-class="expand" scope="col">Last Name</th>
    <th data-class="expand" scope="col">State</th>
    <th data-hide="phone" scope="col">City</th>
    <th data-hide="phone" scope="col">Gender</th>
</tr>
</thead><tbody>

{% for student in students%}
<tr class="gridsys" style="color:Black;">
  <td>{{forloop.counter}}</td>
  {% for item in student.values%}
  <td>{{item}}</td>
    {% endfor %}
    {% endfor %}

    
</tr>
</tbody>
</table>
</div>  
                    
</div>  